In [1]:
import pandas as pd

In [2]:
df = pd.read_table('Text_Data/doubles 2016-11.txt', header=4)

/home/austin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [41]:
df = pd.read_csv('Text_Data/singles_2017-02.txt', header=3, sep='|')

In [43]:
len(df)

856

In [42]:
df.head()

,,Rank,Pokemon,Usage %,Raw,%,Real,% .1,.1
0,+ ---- + ------------------ + --------- + ---...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,1.0,Landorus-Therian,42.55849%,452507.0,21.220%,381317.0,24.085%,
2,,2.0,Metagross-Mega,35.44555%,344716.0,16.165%,249662.0,15.769%,
3,,3.0,Tapu Fini,26.02727%,334077.0,15.666%,267060.0,16.868%,
4,,4.0,Pheromosa,21.43362%,239768.0,11.244%,178050.0,11.246%,

In [44]:
df = df.drop(index=[0,len(df)-1])

In [46]:
df.head()

,,Rank,Pokemon,Usage %,Raw,%,Real,% .1,.1
1,,1.0,Landorus-Therian,42.55849%,452507.0,21.220%,381317.0,24.085%,
2,,2.0,Metagross-Mega,35.44555%,344716.0,16.165%,249662.0,15.769%,
3,,3.0,Tapu Fini,26.02727%,334077.0,15.666%,267060.0,16.868%,
4,,4.0,Pheromosa,21.43362%,239768.0,11.244%,178050.0,11.246%,
5,,5.0,Tapu Lele,19.82681%,270380.0,12.679%,187401.0,11.837%,

In [47]:
ls

clean_data.py  CSV_Data/  get_data.py  README.md  Text_Data/  Untitled.ipynb

In [48]:
df = pd.read_csv('CSV_Data/singles_2017-02.csv')

In [49]:
df.head()

,Unnamed: 0,,Rank,Pokemon,Usage %,Raw,%,Real,% .1,.1
0,1,,1.0,Landorus-Therian,42.55849%,452507.0,21.220%,381317.0,24.085%,
1,2,,2.0,Metagross-Mega,35.44555%,344716.0,16.165%,249662.0,15.769%,
2,3,,3.0,Tapu Fini,26.02727%,334077.0,15.666%,267060.0,16.868%,
3,4,,4.0,Pheromosa,21.43362%,239768.0,11.244%,178050.0,11.246%,
4,5,,5.0,Tapu Lele,19.82681%,270380.0,12.679%,187401.0,11.837%,